.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.cardUser {
  padding: 5px;
  background-color: #dedede;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
}